import(
  parallel, rlecuyer
)
importFrom(
snow, defaultClusterOptions, addClusterOptions, getClusterOption, newSOCKnode, sendCall, recvResult, 
	clusterSetupRNGstream, makeMPIcluster, makeSOCKcluster, checkForRemoteErrors, stopNode
)
export(
performParallel,
performSequential,
makeClusterFT,
stopClusterFT,
clusterApplyFT,
clusterCallpart,
clusterEvalQpart,
printClusterInfo,
clusterSetupRNG.FT,
clusterSetupRNGstreamRepli
)
